{% include "header.html" %}

<h1>About</h1>
<p class="lead">
  Kick-off was created by Espen Braastad in <a href="http://redpill-linpro.com/">Redpill Linpro</a> using <a href="http://www.python.org/">Python</a>, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://getbootstrap.com/">Twitter Bootstrap</a> and <a href="http://ipxe.org/">iPXE</a>. Feel free to <a href="http://github.com/espebra/kick-off">fork the repository</a> and create your own Kick-off installation.
</p>

<p class="lead">
  This installation knows {{ macs|count }} hosts and has given assistance in {{ boots|count }} boot processes so far.
</p>

{% include "footer.html" %}
