{% include "header.html" %}

{% if mac %}
  <h1>{{ mac }}</h1>
  {% include "mac_menu.html" %}
{% else %}
  <h1>Boot history</h1>
{% endif %}

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
       <th>Timestamp</th>
       <th>Age</th>
       {% if not mac %}
         <th>MAC address</th>
       {% endif %}
       <th>IP address</th>
       <th>DNS</th>
       <th>UUID</th>
       <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for i in entries %}
      <tr>
        <td>{{ i.registered }}</td>
        <td>{{ i.age }}</td>
        {% if not mac %}
          <td><a href="/mac/{{ i.mac }}">{{ i.mac }}</a></td>
        {% endif %}
        <td>{{ i.remote_addr }}</td>
        <td>
              {% if i.reverse %}
                {{ i.reverse }}
              {% else %}
                <span class="label label-info">Lookup failed</span>
              {% endif %}
        </td>
        <td>
           {% if i.uuid %}
             {{ i.uuid }}
           {% else %}
             UUID not set
           {% endif %}
        </td>
        <td>
          {% if i.status == 0 %}
            <span class="glyphicon glyphicon-ban-circle"></span>
            <small>Permission denied</small>
          {% elif i.status == 1 %}
            <span class="glyphicon glyphicon-star"></span>
            <small>The host was discovered</small>
          {% elif i.status == 2 %}
            <span class="glyphicon glyphicon-hdd"></span>
            <small>Served default configuration</small>
          {% elif i.status == 3 %}
            <span class="glyphicon glyphicon-cloud-download"></span>
            <small>Served custom configuration</small>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<hr>

{% include "footer.html" %}
