{% include "header.html" %}

{% if mac %}
  {% include "mac_menu.html" %}
{% else %}
  {% if status == 1 %}
    <h1>Discovered hosts</h1>
  {% else %}
    <h1>Boot history</h1>
  {% endif %}
{% endif %}

<div class="row">
  <table class="table">
    <thead>
      <tr>
       <th><span class="glyphicon glyphicon-time"></span></th>
       <th>Timestamp</th>
       {% if not mac %}
         <th>MAC</th>
       {% endif %}
       <th>IP</th>
       <th>DNS</th>
       <th>UUID</th>
       <th></th>
      </tr>
    </thead>
    <tbody>
    {% for i in entries %}
      <tr>
        <td>{{ i.age }}</td>
        <td>{{ i.registered }}</td>
        {% if not mac %}
          <td><a href="/mac/{{ i.mac }}">{{ i.mac }}</a></td>
        {% endif %}
        <td>{{ i.remote_addr }}</td>
        <td>
              {% if i.reverse %}
                {% if mac %}
                  {{ i.reverse }}
                {% else %}
                  <a href="/mac/{{ i.mac }}">
                    {{ i.reverse }}
                  </a>
                {% endif %}
              {% else %}
                <span class="label label-info">Lookup failed</span>
              {% endif %}
        </td>
        <td>
           {% if i.uuid %}
             {{ i.uuid }}
           {% else %}
             UUID not set
           {% endif %}
        </td>
        <td>
          {% if i.status == 0 %}
            <span class="glyphicon glyphicon-ban-circle" rel="tooltip" title="Permission denied"></span>
          {% elif i.status == 1 %}
            <span class="glyphicon glyphicon-star" rel="tooltip" title="The host was discovered"></span>
          {% elif i.status == 2 %}
            <span class="glyphicon glyphicon-hdd" rel="tooltip" title="Served default configuration"></span>
          {% elif i.status == 3 %}
            <span class="glyphicon glyphicon-cloud-download" rel="tooltip" title="Served custom configuration"></span>
          {% endif %}

          <span class="accordion-toggle glyphicon glyphicon-info-sign" data-toggle="collapse" data-parent="#accordion" rel="tooltip" title="Click to show/hide the iPXE configuration that was served." href="#{{ i.id }}"></span>
        </td>
      </tr>
      <tr id="{{ i.id }}" class="panel-collapse collapse">
        <td colspan="8">
          <div>
            <div class="panel-body">
              <pre>{{ i.ipxe }}</pre>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% include "footer.html" %}
