{% include "header.html" %}

{% if mac %}
  <h1>{{ mac }}</h1>
  {% include "mac_menu.html" %}
{% else %}
  <h1>Boot history</h1>
{% endif %}

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
       <th>Timestamp</th>
       {% if not mac %}
         <th>MAC address</th>
       {% endif %}
       <th>IP address</th>
       <th>UUID</th>
       <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
      <tr>
      <td>{{ entry['registered'] }}</td>
      {% if not mac %}
        <td><a href="/mac/{{ entry['mac'] }}">{{ entry['mac'] }}</a></td>
      {% endif %}
      <td>{{ entry['remote_addr'] }}</td>
      <td>
         {% if entry['uuid'] %}
           {{ entry['uuid'] }}
         {% else %}
           UUID not set
         {% endif %}
      </td>
      <td>
        {% if entry['status'] == 0 %}
          Permission denied
        {% elif entry['status'] == 1 %}
          The host was discovered
        {% elif entry['status'] == 2 %}
          Served default configuration
        {% elif entry['status'] == 3 %}
          Served custom configuration
        {% endif %}
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<hr>

{% include "footer.html" %}
