{% include "header.html" %}

<h1>Domain {{ domain }}</h1>

<div class="row">
  <div class="md-col-12">
    {% include "list.html" %}
  </div>
</div>

<!--
    
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#id">
              <span class="glyphicon glyphicon-info-sign" rel="tooltip" title="Click to show/hide the iPXE configuration that was served."></span>
            </a>
          </td>
        </tr>
        <tr id="id" class="panel-collapse collapse">
          <td colspan="8">
            <div>
              <div class="panel-body">
                <pre>ipxe</pre>
              </div>
            </div>
          </td>
-->

{% include "footer.html" %}
