<h1>Environments</h1>
<p class="lead">The host environment will be loaded by some netboot templates. Environments makes it possible to have host specific console setup, root password and so on independent from the netboot configuration.

<ul class="nav nav-tabs">
  <li {% if subactive=="existing" %}class="active"{% endif %}><a href="/environments/existing">Existing environments</a></li>
  <li {% if subactive=="new" %}class="active"{% endif %}><a href="/environments/new">Create new environment</a></li>
  {% if _id %}
    <li {% if subactive=="modify" %}class="active"{% endif %}><a href="/environments/modify?id={{ _id }}">Modify environment</a></li>
  {% endif %}
</ul>

