<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Espen Braastad">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <title>Kickoff :: {{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/static/bootstrap/assets/js/jquery.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $("[rel=tooltip]").tooltip({ placement: 'top'});
      });
    </script>
  </head>

  <body>

    {% include "menu.html" %}

    <div class="container">

