{% include "header.html" %}

{% if status|count == 0 %}
  <h1>Boot history</h1>
  {% include "dates.html" %}
  <p class="lead">All netboot requests at {{ date }}.</p>
{% else %}
  {% if status|count == 1 and status[0] == 404 and status_filter == "only" %}
    <h1>Discovered hosts</h1>
    {% include "dates.html" %}
    <p class="lead">Netboot requests from hosts that are not yet known to the system.</p>
  {% elif status|count == 1 and status[0] == 404 and status_filter == 'exclude' %}
    <h1>Boot history</h1>
    {% include "dates.html" %}
    <p class="lead">Netboot requests at {{ date }} from known hosts.
  {% else %}
    <h1>Boot history</h1>
    {% include "dates.html" %}
    <p class="lead">Netboot requests according to the filter shown in chronological order.</p>
  {% endif %}
{% endif %}

<div class="row">
  <div class="col-md-12">
    {% include "list.html" %}
  </div>
</div>

{% include "footer.html" %}
