{% include "header.html" %}

<div class="jumbotron">
  <h1>Kickoff!</h1>
  <p class="lead">Some fluffy text if the client is new</p>
  <a class="btn btn-large btn-success" href="#">Get started today</a>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Domains</h2>
    <ul class="list-unstyled">
      <li>customer1.c.bitbit.net</li>
      <li>customer2.c.bitbit.net</li>
      <li>customer3.c.bitbit.net</li>
      <li>customer4.c.bitbit.net</li>
      <li>customer5.c.bitbit.net</li>
    </ul>
    <a href="/domains">More...</a>
  </div>
  <div class="col-md-4">
    <h2>Boot history</h2>
    <ul class="list-unstyled">
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
    </ul>
    <a href="/known-hosts">More...</a>
 </div>
  <div class="col-md-4">
    <h2>New hosts</h2>
    <ul class="list-unstyled">
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
    </ul>
    <a href="/new-hosts">More...</a>
  </div>
</div>

<hr>

{% include "footer.html" %}
