<table class="table table-hover">
  <thead>
    <tr>
      {% for h in headings %}
        <th>
          {% if h.id == 'age' %}
            <span rel="tooltip" title="Time since the boot request" class="glyphicon glyphicon-time"></span>
          {% else %}
            {{ h.pretty }}
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for e in entries %}
      {% if 'status' in e %}
        {% if e.status == 200 %}
          <tr class="success">
        {% elif e.status == 403 %}
          <tr class="danger">
        {% elif e.status == 404 %}
          <tr class="active">
        {% else %}
          <tr>
        {% endif %}
      {% else %}
        <tr>
      {% endif %}
        {% for h in headings %}
          <td> 
            {% if h.id == 'pretty_mac' %}
              <a rel="tooltip" title="{% if e['vendor'] %}{{ e['vendor'] }}{% else %}Unknown vendor{% endif %}" href="/mac/{{ e['mac'] }}">
                {{ e[h.id] }}
              </a>
            {% elif h.id == 'domain' %}
              <a href="/domain/{{ e[h.id] }}">
                {{ e[h.id] }}
              </a>
            {% elif h.id == 'client_ptr' %}
              {% if e[h.id] %}
                <a href="/mac/{{ e.mac }}">
                  {{ e[h.id] }}
                </a>
              {% else %}
                <span class="label label-info">Lookup failed</span>
              {% endif %}
            {% elif h.id == 'client' %}
              {% if e[h.id] %}
                <a href="/mac/{{ e.mac }}">
                  {{ e[h.id] }}
                </a>
              {% endif %}
            {% elif h.id == 'timestamp' %}
              {% if e[h.id] %}
                <span rel="tooltip" title="Timestamp as recorded by the web server in the NCSA log">{{ e[h.id] }}</span>
              {% else %}
                <small rel="tooltip" title="iPXE configuration for this host is present, but it has never used this configuration during netboot">No history recorded for this host</small>
              {% endif %}
            {% elif h.id == 'status' %}
              {% if e[h.id] == 404 %}
                <span rel="tooltip" title="HTTP status code {{ e[h.id] }}. Configuration for this mac address did not exist at the time of the request." class="glyphicon glyphicon-eye-open"></span>
              {% elif e[h.id] == 403 %}
                <span rel="tooltip" title="HTTP status code {{ e[h.id] }}. This IP address does not have access to the configuration for the specified mac address." class="glyphicon glyphicon-ban-circle"></span>
              {% elif e[h.id] == 200 %}
                <span rel="tooltip" title="HTTP status code {{ e[h.id] }}. This request was handled successfully." class="glyphicon glyphicon-cloud-download"></span>
              {% else %}
                {{ e[h.id] }}
              {% endif %}
            {% elif h.id == 'host' %}
              {% if e[h.id] %}
                <a rel="tooltip" title="Click to show the current netboot configuration for {{ e.pretty_mac }} on {{ e[h.id] }}. Review the security filters if you do not have access." href="http://{{ e[h.id] }}/bootstrap/{{ e.pretty_mac }}/ipxe">
                  {{ e[h.id] }}
                </a>
              {% endif %}
            {% else %}
              {{ e[h.id] }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

