{% include "header.html" %}

{% include "mac_menu.html" %}

<div class="row">
  <div class="col-md-12">
    <h2>Security filter</h2>
  </div>
</div>

{% include "messages.html" %}

<div class="row">
  <div class="col-md-12">
    {% if cfg[mac] %}
      <div class="lead">Current htaccess configuration</div>
      {% if cfg[mac].htaccess %}
        <pre>{{ cfg[mac].htaccess }}</pre>
      {% else %}
        <p class="lead">None found</p>
      {% endif %}
    {% else %}
      <p class="lead">No configuration was found for this mac address.</p>
    {% endif %}
  </div>
</div>

<p class="lead">Modify the current security filter using one of the methods below.</p>
<div class="row">
  <div class="col-lg-4">
    <h4>Re-inject</h4>
    <p>You can overwrite the current filter by re-injecting the default template with the address used in the last request.
    <form class="form-horizontal" role="form" method="POST" action="">
      <div class="form-group">
        <input type="hidden" name="mac" value="{{ mac }}"/>
        <input type="submit" class="btn btn-primary" value="Inject"/>
      </div>
    </form>
  </div>
  <div class="col-lg-4">
    <h4>HTML editor</h4>
    <p>The filter can be modified using a simple html editor for more flexibility than the template.</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-lg-4">
          <a href="/mac/{{ mac }}/security/edit" class="btn btn-primary">Edit &raquo;</a>
        </div>
      </div>
    </form>
 </div>
  <div class="col-lg-4">
    <h4>Git</h4>
    <p>This web application is using the {{ repository }} repository to store configuration. Netboot configuration can therefore be modified using git directly for complete flexibility.</p>
  </div>
</div>

{% include "footer.html" %}
