{% include "header.html" %}

{% include "mac_menu.html" %}

<div class="row">
  <div class="col-md-12">
    <h2>Netboot configuration</h2>
  </div>
</div>

{% include "messages.html" %}

<div class="row">
  <div class="col-md-12">
    {% if cfg[mac] %}
      <h3>Current configuration</h3>
      {% if cfg[mac].ipxe %}
        <pre>{{ cfg[mac].ipxe }}</pre>
      {% else %}
        <p class="lead">None found</p>
      {% endif %}
    {% else %}
      <p class="lead">No configuration was found for this mac address.</p>
    {% endif %}
  </div>
</div>

<h3>Modify</h3>
<p class="lead">Modify the current configuration using one of the methods below.</p>
<div class="row">
  <div class="col-lg-4">
    <h4>Inject template</h4>
    <p>You can overwrite the current configuration by injecting a template. The new configuration will be identical* to the template.</p>
    <p><small>* Variable substitution may be used by some templates.</small></p>
    <form class="form-horizontal" role="form" method="POST" action="">
      <div class="form-group">
        <div class="col-lg-8">
          <select name="id" class="form-control">
            {% for t in templates %}
              {% if t.enabled %}
                <option value="{{ t._id }}">{{ t.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Inject"/>
      </div>
    </form>
  </div>
  <div class="col-lg-4">
    <h4>HTML editor</h4>
    <p>The configuration can be modified using a simple html editor for more flexibility.</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-lg-4">
          <input type="submit" class="btn btn-primary" value="Edit &raquo;"/>
        </div>
      </div>
    </form>
 </div>
  <div class="col-lg-4">
    <h4>Git</h4>
    <p>This web application is using the {{ repository }} repository to store configuration. Netboot configuration can therefore be modified using git directly for complete flexibility.</p>
  </div>
</div>

{% include "footer.html" %}

