<h1>{{ pretty_mac }}</h1>

{% if boot %}
  {% if boot.0 %}
    {% if boot.0.vendor %}
      by {{ boot.0.vendor }}.
    {% else %}
      by unknown vendor.
    {% endif %}
    {% if boot.0.domain and boot.0.client_ptr %}
      <p class="lead">DNS PTR {{ boot.0.client_ptr }} in group <a href="/domain/{{ boot.0.domain }}">{{ boot.0.domain}}</a>.</p>
    {% else %}
      <p class="lead">Reverse lookup {{ boot.0.client }} failed.</p>
    {% endif %}
  {% endif %}
{% endif %}

<ul class="nav nav-tabs">
  <li {% if subactive=="history" %}class="active"{%endif%}><a href="/mac/{{ mac }}/history">Boot history</a></li>
  <li {% if subactive=="configuration" %}class="active"{%endif%}><a href="/mac/{{ mac }}/configuration">Configuration</a></li>
  <li {% if subactive=="security" %}class="active"{%endif%}><a href="/mac/{{ mac }}/security">Security filters</a></li>
</ul>
