{% include "header.html" %}

{% include "mac_menu.html" %}

<div class="row">
  <div class="col-md-12">
    <h2>Configuration</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if cfg[mac] %}
      <div class="lead">Current iPXE configuration</div>
      {% if cfg[mac].ipxe %}
        <pre>{{ cfg[mac].ipxe }}</pre>
      {% else %}
        <p class="lead">None found</p>
      {% endif %}
    {% else %}
      <p class="lead">No configuration was found for this mac address.</p>
    {% endif %}
  </div>
</div>

{% include "footer.html" %}
