{% include "header.html" %}

{% include "mac_menu.html" %}

<div class="row">
  <div class="col-md-12">
    <h2>Configuration</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if cfg[mac] %}
      <div class="lead">Active</div>
      {% if cfg[mac].ipxe %}
        <pre>{{ cfg[mac].ipxe }}</pre>
      {% else %}
        <p class="lead">None found</p>
      {% endif %}
    {% else %}
      <p class="lead">No configuration was found for this mac address.</p>
    {% endif %}
  </div>
  <div class="col-md-12">
    <div class="lead">Customize</div>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </form>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-lg-4">
          <select class="form-control">
            {% for t in templates %}
              {% if t.enabled %}
                <option>{{ t.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <button type="button" class="btn btn-primary">Inherit</button>
      </div>
    </form>
  </div>
</div>

{% include "footer.html" %}
