{% include "header.html" %}

{% include "mac_menu.html" %}

<div class="row">
  <div class="col-md-12">
    <h2>Security filters</h2>
  </div>
</div>

{% include "messages.html" %}

<div class="row">
  <div class="col-md-12">
    {% if cfg[mac] %}
      <div class="lead">Current htaccess configuration</div>
      {% if cfg[mac].htaccess %}
        <pre>{{ cfg[mac].htaccess }}</pre>
      {% else %}
        <p class="lead">None found</p>
      {% endif %}
    {% else %}
      <p class="lead">No configuration was found for this mac address.</p>
    {% endif %}
  </div>
</div>

{% include "footer.html" %}
