{% include "header.html" %}

{% include "templates_menu.html" %}

<h2>Available templates</h2>
<p class="lead">Showing all the templates in the system, including the ones that are not <i>enabled</i>.</p>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <th>Template name</th>
        <th></th>
        <th>Registered</th>
        <th>Updated</th>
        <th></th>
      </thead>
      <tbody>
        {% for t in templates %}
          <tr {% if t.enabled %} class="active"{% endif %}>
            <td>
              {{ t.name }}
            </td>
            <td>
              {% if t.enabled %}
                <span rel="tooltip" title="The template is enabled" class="label label-success"><span class="glyphicon glyphicon-play"></span></span>
              {% else %}
                <span rel="tooltip" title="The template is disabled" class="label label-info"><span class="glyphicon glyphicon-pause"></span></span>
              {% endif %}
            </td>
            <td>
              {{ t.registered_age }}
            </td>
            <td>
              {% if t.updated_age %}
                {{ t.updated_age }}
              {% else %}
                Never
              {% endif %}
            </td>
            <td>
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ t._id }}"><span class="glyphicon glyphicon-eye-open"></span></a>
              <a href="/templates/modify?id={{ t._id }}"><span class="glyphicon glyphicon-wrench"></span></a>
            </td>
          </tr>
          <tr id="{{ t._id }}" class="panel-collapse collapse">
            <td colspan="5">
              <div>
                <div class="panel-body">
                  <pre>{{ t.content }}</pre>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include "footer.html" %}
